<%- include('../layout/head') %>

<h1>Input data karyawan baru</h1>
<hr>

<% if (typeof pesanError !== 'undefined') { %>
    <span style="color: red;">
        <%= pesanError[0].path +': '+ pesanError[0].msg +' '+ pesanError[0].value %>
    </span>
    <br><br>
<% } %>

<form action="/karyawan/proses-simpan" method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">Nama lengkap</label>
                <input class="form-control" type="text" name="form_namalengkap" value="<%= (typeof ketikanForm !== 'undefined') ? ketikanForm.namalengkap : '' %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Jenis Kelamin</label>
                <select class="form-select" name="form_gender">
                    <option value="">-- pilih --</option>
                    <option value="L">Laki</option>
                    <option value="P">Perempuan</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Alamat tinggal</label>
                <textarea class="form-control" name="form_alamat" rows="5" cols="50"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Nomor Induk Pegawai</label>
                <input class="form-control" type="text" name="form_nip">
            </div>
            <div class="mb-3">
                <label class="form-label">Tanggal Lahir</label>
                <input class="form-control" type="date" name="form_tgl_lahir">
            </div>
            <div class="mb-3">
                <label class="form-label">Nomor Telpon</label>
                <input class="form-control" type="text" name="form_notelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Departemen</label>
                <select class="form-select" name="form_departemen">
                    <option value="">-- pilih --</option>
                    <% dept.forEach( (dp)=>{ %>
                        <option value="<%= dp.id %>"><%= dp.nama %> (<%= dp.singkatan %>)</option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Agama</label>
                <select class="form-select" name="form_agama">
                    <option value="">-- pilih --</option>
                    <% agama.forEach( (agm)=>{ %>
                        <option value="<%= agm.id %>"><%= agm.nama %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-save"></i> Simpan</button>
</form>

<%- include('../layout/foot') %>