<h1>Karyawan Index</h1>
<hr>

<style>
    .p5 {
        padding: 5px;
    }
</style>

<a href="/karyawan/tambah">
    <button>+ karyawan baru</button>
</a>
<br><br>

<table border="1">
    <thead>
        <tr>
            <th class="p5">NIP</th>
            <th class="p5">Nama Lengkap</th>
            <th class="p5">Action</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i=0;  i < dakar.length;  i++ ) { %>
            <tr>
                <td class="p5"><%= dakar[i].nip %></td>
                <td class="p5"><%= dakar[i].nama %></td>
                <td class="p5">
                    <a href="/karyawan/detail/<%= dakar[i].id %>" style="margin-right: 10px;">
                        <button>Detail</button>
                    </a>
                    <a href="/karyawan/hapus/<%= dakar[i].id %>" onclick="return confirm('Yakin ingin hapus karyawan a/n <%= dakar[i].nama %> ?\nHati-hati! Data yang dihapus bersifat permanen!')">
                        <button>Hapus</button>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
